.capitalize {
    text-transform: capitalize;
}

.user-profile { 
    .content {
        i {
            width: 20px;
            text-align: center;
            margin-right: 10px;
        }
    }
}